:root{
    --primary-color: #555;
    --text-color: #fff;
    --secondary-color: #333;
    --confirm-color: #0d4712;
}

/*Basic Formatting*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main{
    flex: 1;
}
h2{
    font-size: 30px;
}
label {
    white-space:nowrap;
    font-size: 20px;
}
input[type=radio]{
    margin: 10px;
    padding: 0 5px;
}
input[type=checkbox]{
    width: 30px;
    height: 30px;
}
footer{
    background-color: var(--primary-color);
    padding: 10px 0;
    text-align: center;
}

/*Link Formatting*/
.button-link{
    text-decoration: none;
    color: var(--text-color);
    border: 3px solid var(--secondary-color);
    background-color: var(--primary-color);
    padding: 30px 0;
    text-align: center;
}
.button-link:hover{
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
}
.button-link:active{
    background-color: var(--confirm-color);
}
.head-link{
    color: var(--text-color);
    text-decoration: none;
    font-size: 30px;
}
.login-link{
    font-size: 20px;
}
/*Buttons*/
.button{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.button>a{
    width: 95%;
}
.verify{
    padding: 8px;
}
.search-button{
    width: 20%;
    height: 100%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

/*Divs*/
.side-by-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 20px;
    margin: 0 5px;
}
.side-by-side>div{
    padding: 0 20px;
    min-width: 30px;
}
.p-contain{
    display: flex;
    justify-content: center;
}
.p-contain>p{
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
}
.hero{
    background:  center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}
.hero .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}
.flex-columns .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.flex-columns .column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.flex-columns .column .column1,
.flex-columns .column .column2{
    height: 100%;
}
.flex-columns img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex-columns .column2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    background: mediumslateblue;
}
.flex-columns h2{
    font-size: 40px;
    font-weight: 100;
}
.flex-columns h4{
    margin-bottom: 10px;
}
.flex-columns p{
    margin: 20px 0;
}
/*Input Bars*/
.input-bar{
    padding: 8px;
}
.search-bar{
    display: flex;
    margin-bottom: 30px;
}
.login{
    width: 50%;
    padding-bottom: 10px
}

/*Other Class Formatting*/
#name-confirm{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.big-text{
    font-size: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.subtitle{
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/*Media Queries*/
@media(max-width: 768px){
    .side-by-side{
        justify-content: center;
    }
    .p-contain>p{
        width: 80%;
    }
    .flex-columns .column, .flex-grid .column{
        flex: 100%;
        max-width: 100%;
    }
}